<div id="follow-icons">
	<a href="http://facebook.com/shivanshuag" rel="me"><i class="fa fa-facebook-square fa-2x"></i></a>
	<a href="http://twitter.com/shivanshuagw" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="https://www.linkedin.com/pub/shivanshu-agrawal/65/309/74" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="http://github.com/shivanshuag" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://plus.google.com/+ShivanshuAgrawal" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>  