---
layout: page
permalink: /movies/
title: Movies
description: "All my posts related to novels"
---

<ul class="post-list">
{% for post in site.posts %}
{% if post.category == 'movies' %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>
  <br>	<span style="font-size:0.8rem">{{post.description}}</span></article></li>
 {%endif%}
{% endfor %}
</ul>
