{{ partial "header.html" . }}

<main id="content">
		<span class="categorylist">
	        Categories &middot;
	          <a href="/">All</a>
			  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			    <a href="/categories/{{ $name | urlize }}">{{ $name }}</a>
			  {{ end }}
          </span>
          <img src="/images/line2-1.png" class="line-separator"/>

{{ $paginator := .Paginator }}
	<h1 class="post-title">{{ .Title }}</h1> 
    {{ range $index, $page := .Paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}
</main>

{{ partial "footer.html" . }}