{{ partial "header.html" . }}
		<main id="content">
		<span class="categorylist">
	        <span>Categories &middot;</span>
	        	<a href="/">All</a>
			  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			    <a href="/categories/{{ $name | urlize }}">{{ $name }}</a>
			  {{ end }}
          </span>
          <img src="/images/line2-1.png" style="height:3.5em;width:90%"/>

{{ $paginator := .Paginator }}

    {{ range $index, $page := .Paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}

    	{{ partial "pagination.html" $paginator }}
		</main>
{{ partial "footer.html" . }}